.frame{
  width: 75vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
  padding: 8px;
  justify-content: center;
}
.nome{
  font-family: 'Josefin Slab2';
  font-size: 30px;
}
.description1{
  font-family: 'Josefin Slab';
  text-align: justify;
  border-radius: 15px;
  font-size: 18px;
}
.img{
  width: 30vw;
  height: 55vh;
}
img{
  width: 100%;
  height: 100%;
}
.equipe{
  width: 70vw;
  height: 25vh;
  border-radius: 15px;
  padding: 8px;
  align-items: center;
}
.nome2{
  font-family: 'Playpen Sans';
  text-align: center;
  font-size: 25px;
}
.description2{
  font-family: 'Playpen Sans';
  text-align: justify;
  font-size: 16px;
}

@media (min-width: 675px) and (max-width: 900px) {
  .img{
    width: 60vw;
    height: 70vh;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 100px) and (max-width: 675px) {
  .img{
    width: 45vw;
    height: 30vh;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
