<div *ngIf="display">
  <div class="frame">
    <h1 class="nome">Due4 Arquitetura</h1>
    <p class="description1"> A empresa nasceu em meados de 2016, trabalhando como suporte para
        equipes de novos negócios de outras empresas. Este suporte seja com
        estudos de massa. masterplan, viabilidades, planilhas para cálculos
        viabilidade, desenvolvimento e aprovação de projetos arquitetônico
        assim como de projetos de acessibilidade e viabilidade. <br>
        O projeto utilizado neste site foi desenvolvido pela profissional
        que utiliza o nome deste escritório. Por este motivo, a logo utilizada
        e o histórico de vida profissional está descrito aqui. O banco de dados
        utilizado levou em conta projetos feitos pela empresa Due4.</p>
    <div class="img">
      <img src="assets/images/2.jpg" alt="">
    </div>
    <div class="equipe">
      <h2 class="nome2">Ariana Mesquita Gonçalves</h2>
      <h3 class="description2">Arquiteta e urbanista graduada em 2009 pela Universidade Estadual de Goiás
          e com nova graduação em Sistemas de Informação em andamento no Instituto
          Federal Goiano - Campus Urutaí. Este projeto de viabilidade feito mediante
          projeto de pesquisa vinculado à universidade e com patente em andamento.
      </h3>
    </div>
  </div>
</div>
