
@media (min-width: 100px) and (max-width: 400px) {
  .toggle-icon {
    cursor: pointer;
    transition: left 0.3s;
  }
  .toggle-icon.moved {
    transform: translateY(18%);
    margin-left: -10px;
  }
  mat-icon{
    display: flex;
    transform: translateY(15%);
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    height: 50vh;
    width: 3vh;
    background-color: rgb(181, 206, 181);
    padding: 1vh;
    margin-left: 2vw;
  }
  .sidebar {
    width: 90vw;
    transform: translateY(10%);
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
  }
  .sidebar-collapsed {
    display: none;
  }
  section{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  .toggle-icon {
    position: absolute;
    top: 20vh;
    left: 42%;
    transform: translate(1050%, 30%);
    cursor: pointer;
    display: inline;
    transition: left 0.3s;
  }
  .toggle-icon.moved {
    left: -42%;
  }
  mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    height: 40vh;
    width: 4vw;
    background-color: rgb(181, 206, 181);
    padding: 2vh;
  }
  .sidebar {
    width: 80%;
    transition: width 0.3s;
  }
  .sidebar-collapsed {
    display: none;
  }
}

@media (min-width: 750px)  and (max-width: 900px){
  .toggle-icon {
    display: none;
  }
  .toggle-icon.moved {
    left: -2%;
  }
  mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    height: 40vh;
    width: 4vw;
    background-color: rgb(181, 206, 181);
    padding: 2vh;
  }
  .sidebar {
    width: 80%;
    height: 80%;
  }
  .sidebar-collapsed {
    display: none;
  }

}
@media (min-width: 900px) {
  .toggle-icon {
    display: none;
  }
  .toggle-icon.moved {
    left: -2%;
  }
  mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    height: 40vh;
    width: 4vw;
    background-color: rgb(181, 206, 181);
    padding: 2vh;
  }
  .sidebar {
    width: 80%;
    height: 80%;
  }
  .sidebar-collapsed {
    display: none;
  }

}
