img{
  max-width: 100%;
  max-height: 100%;
}
.carousel {
  display: flex;
  height: 80vh;
  width: 75vw;
  justify-content: space-between;
  background-color: rgba(196, 196, 196, 0.473);
  border-radius: 20px;
  align-items: center;
}
.nav-button {
  border: none;
  color: rgb(80, 75, 75);
  background-color: rgb(183, 192, 165);
  font-size: 30px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
@media (min-width: 100px) and (max-width: 420px) {
  img{
    max-width: 80%;
    max-height: 90%;
  }
  .carousel {
    display: flex;
    height: 80vh;
    justify-content: space-between;
    background-color: rgba(196, 196, 196, 0.473);
    border-radius: 20px;
    align-items: center;
  }
  .nav-button {
    border: none;
    color: rgb(80, 75, 75);
    background-color: rgb(183, 192, 165);
    font-size: 30px;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }

}
@media (min-width: 420px) and (max-width: 750px) {
  img{
    max-width: 120%;
    max-height: 120%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 120%;
    background-color: rgba(243, 243, 243, 0.473);
    transform: translateX(-2vw) translateY(4%);
    border-radius: 20px;
    left: -5%;
  }
  .nav-button{
    position: absolute;
    border: none;
    color: rgb(80, 75, 75);
    background-color: rgb(183, 192, 165);
    border-radius: 50%;
    font-size: 30px;
    top: 50%;
    margin-left: -17vw;
    margin-right: -15vw;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  img{
    max-width: 90%;
    max-height: 90%;
  }
  .carousel {
    display: flex;
    height: 75vh;
    justify-content: space-between;
    background-color: rgba(196, 196, 196, 0.473);
    border-radius: 20px;
    align-items: center;
  }
  .nav-button{
    border: none;
    color: rgb(80, 75, 75);
    background-color: rgb(183, 192, 165);
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
