label{
  font-family: 'PlayPen Sans' bold;
  letter-spacing: 4px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
}
input{
  min-width: 30vw;
  border-radius: 10px;
  border: 1px solid ;
  min-height: 5vh;
  font-family: 'PlayPen Sans' bold;
  font-size: 14px;
  padding-left: 15px;
  color: #434543;
  background-color: #f9faf9;
}

@media (min-width: 400px) and (max-width: 750px) {
  input{
    width: 70vw;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  input{
    width: 50vw;
  }
}

