button{
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border: none;
  background-color: #4C7A40;
  opacity: 67%;
  font-size: 12px;
  border-radius: 10px;
  font-family: 'JosefinSlab-Regular';
  color: #F0ECEC;
  letter-spacing: 4px;
  cursor: pointer;
}
button:hover{
  opacity: 1.2;
  animation: change 2s ease-in-out infinite;
}
@keyframes change {
  0%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-4deg);
  }
  100%{
    transform: rotate(2deg);
  }
}
@media (min-width: 250px) and (max-width: 750px) {
  button{
    width: 80vw;
    padding: 3vh;
    border: none;
    background-color: #4C7A40;
    opacity: 0.67;
    font-size: 2vh;
    border-radius: 2.5vw;
    font-family: 'Kavivanar';
    color: #F0ECEC;
    letter-spacing: 0.4vw;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  button{
    width: 20vw;
    padding: 2.5vw;
    margin-left: 2vw;
    border: none;
    background-color: #4C7A40;
    opacity: 0.67;
    font-size: 1.5vh;
    font-family: 'Kavivanar';
    color: #F0ECEC;
    letter-spacing: 0.4vw;
    cursor: pointer;
  }
  button:hover{
    opacity: 1.2;
    animation: change 2s ease-in-out infinite;
  }
  @keyframes change {
    0%{
      transform: rotate(2deg);
    }
    50%{
      transform: rotate(-4deg);
    }
    100%{
      transform: rotate(2deg);
    }
  }
}
