* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Josefin Slab';
  src: url('./assets/fonts/JosefinSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab2';
  src: url('./assets/fonts/JosefinSlab-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab3';
  src: url('./assets/fonts/JosefinSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Kavivanar';
  src: url('./assets/fonts/Kavivanar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: rgb(237, 240, 237);
  display:contents;
}

html, body { height: 100%; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 250px) and (max-width: 450px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
