@media (min-width: 900px) {
  .frame{
    width: 78vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
  }
  .produto{
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 4px;
    font-size: 14px;
  }
  .mapa{
    transform: translateX(20%) translateY(-2%);
    height: 30vh;
    width: 30vw;
  }
  img{
    height: 100%;
  }
  .label-left{
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 4px;
    font-size: 14px;
  }
  .button-limpar{
    width: 16vw;
    height: 10vh;
    border-radius: 8vw;
    border: none;
    background-color: rgb(223, 139, 139);
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgb(243, 243, 243);
  }
  .button-limpar:hover{
    background-color: rgb(146, 87, 87);
    opacity: 1.1;
    animation: change 2s ease-in-out infinite;
  }
  .button-salvar:hover{
    opacity: 1.1;
    animation: change 2s ease-in-out infinite;
  }
  @keyframes change {
    0%{
      transform: rotate(2deg);
    }
    50%{
      transform: rotate(-4deg);
    }
    100%{
      transform: rotate(2deg);
    }
  }
  .button-salvar{
    width: 16vw;
    height: 10vh;
    border-radius: 8vw;
    border: none;
    background-color: rgb(86, 138, 93);
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: lightgray;
    cursor: pointer;
    margin-left: 7vh;
    margin-top: 2vh;
  }
}
@media (min-width: 100px) and (max-width: 400px) {
  .frame{
    width: 90vw;
    height: 110vh;
    align-items: center;
    border-radius: 30px;
    margin-top: 25vh;
    margin-left: 15vw;

  }
  .produto{
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 4px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
  }
  .mapa{
    transform: translateX(1vw) translateY(2vh);
    height: 30vh;
    width: 30vw;
  }
  img{
    height: 100%;
  }
  .label-left{
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px;

  }
  .button-limpar{
    width: 35vw;
    height: 7vh;
    border-radius: 10vw;
    border: none;
    background-color: lightcoral;
    font-family: 'PlayPen Sans' bold;
    font-size: 14px;
    color: rgb(243, 243, 243);
    transform: translateY(2vh);
  }
  .button-salvar{
    width: 35vw;
    height: 7vh;
    border-radius: 10vw;
    border: none;
    background-color: rgb(86, 138, 93);
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 2px;
    font-size: 14px;
    color: lightgray;
    transform: translateY(2vh);
    margin-left: 2ch;
  }
}

@media (min-width: 400px) and (max-width: 900px) {
  .frame{
    width: 70vw;
    height: 110vh;
    align-items: center;
    border-radius: 30px;
    padding-top: 15vh;
  }
  .produto{
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 4px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
  }
  .mapa{
    transform: translateX(1vw) translateY(2vh);
    height: 30vh;
    width: 20vw;
  }
  img{
    height: 80%;
  }
  .label-left{
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 4px;
    font-size: 14px;
    padding: 5px;

  }
  .button-limpar{
    width: 24vw;
    height: 8vh;
    border-radius: 8vw;
    border: none;
    background-color: rgb(223, 139, 139);
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgb(243, 243, 243);
  }
  .button-limpar:hover{
    background-color: rgb(146, 87, 87);
    opacity: 1.1;
    animation: change 2s ease-in-out infinite;
  }
  .button-salvar:hover{
    opacity: 1.1;
    animation: change 2s ease-in-out infinite;
  }
  @keyframes change {
    0%{
      transform: rotate(2deg);
    }
    50%{
      transform: rotate(-4deg);
    }
    100%{
      transform: rotate(2deg);
    }
  }
  .button-salvar{
    width: 24vw;
    height: 8vh;
    border-radius: 8vw;
    border: none;
    background-color: rgb(86, 138, 93);
    font-family: 'PlayPen Sans' bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: lightgray;
    cursor: pointer;
    margin-left: 10vh;
    margin-top: 2vh;
  }
}


