.frame{
  width: 78vw;
  height: 110vh;
  transform: translateY(15%);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-items: center;
  border-radius: 30px;
}
.apelido{
  grid-column-start: 7;
  margin-top: 15px;
  grid-row-start: 1;
}
.endereco{
  grid-column-start: 7;
  margin-top: 15px;
  grid-row-start: 2;
}
.etapa{
  grid-column-start: 7;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-row-start: 3;
}
.areaConstruida{
  grid-column-start: 7;
  grid-row-start: 5;
}
.qtddAndares{
  grid-column-start: 7;
  margin-top: 15px;
  grid-row-start: 6;
}
.qtddVagasUH{
  grid-column-start: 7;
  margin-top: 15px;
  grid-row-start: 7;
}
.qtddUHAndar{
  grid-column-start: 7;
  margin-top: 15px;
  grid-row-start: 8;
}
.produto{
  font-family: 'PlayPen Sans' bold;
  letter-spacing: 4px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  grid-column-start: 7;
  margin-top: 5px;
  grid-row-start: 4;
}
.mapa{
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 6;
  transform: translateX(20%) translateY(-2%);
  height: 45vh;
  width: 30vw;
}
img{
  height: 100%;
}
.label-left{
  font-family: 'PlayPen Sans' bold;
  letter-spacing: 4px;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 5px;
  grid-column-start: 4;
  grid-row-start: 5;
}
.coefAproveitamento{
  grid-column-start: 4;
  grid-row-start: 6;
}
.taxaOcupacao{
  grid-column-start: 4;
  margin-top: 15px;
  grid-row-start: 7;
}
.indiceElevacao{
  grid-column-start: 4;
  margin-top: 15px;
  grid-row-start: 8;
}
.button-limpar{
  grid-column-start: 7;
  margin-top: 30px;
  grid-row-start: 9;
  width: 40%;
  height: 7vh;
  border-radius: 15%;
  border: none;
  background-color: lightcoral;
  font-family: 'PlayPen Sans' bold;
  letter-spacing: 2px;
  font-size: 16px;
  color: rgb(243, 243, 243);
}
.button-salvar{
  grid-column-start: 7;
  margin-top: 30px;
  grid-row-start: 9;
  width: 40%;
  transform: translateX(100%);
  margin-left: 13vh;
  height: 7vh;
  border-radius: 15%;
  border: none;
  background-color: rgb(86, 138, 93);
  font-family: 'PlayPen Sans' bold;
  letter-spacing: 2px;
  font-size: 16px;
  color: lightgray;
}
