<div *ngIf="display">
  <div class="frame">
    <div class="image">
      <img src="assets/images/3.jpg" alt="" class="imagem">
      <h3>VIABILIZE SEU EMPREENDIMENTO!!</h3>
      <p class="label">Acesse nossa plataforma e confira!</p>
    </div>
    <hr>
    <div class="login">
        <img src="assets/images/logomarca.png" class="logomarca">
        <form class="form">
          <mat-form-field class="full-width">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite seu login" value="Login" type="email">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Digite seu login" value="Senha" type="password">
          </mat-form-field>
        </form>
        <a href=""><p class="cadastro">Cadastre-se</p></a>
        <button class="ok"><img src="assets/images/Ok.png" alt="" class="okimg"></button>
    </div>
  </div>
</div>
